.language {
  background: white;
  margin: 10px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.language-item {
  padding: 0rem 0.5rem;
  width: 50px;
  border: 1px solid #525557;
}
